@page
@model RazorEmployeeDetailsMyProj.Pages.NotFoundModel
@{


}

<h1>The Resource you are looking for in NOT FOUND (Does NOT EXIST )</h1>

<a asp-page="/Employees/Index" class="btn btn-dark " style="width:auto"> Click Here to Return </a>